.firstpage {
    height: 100vh;
    background-image: url("/images/bg4.jpg");
    background-size: 100% 115%;
    background-repeat: no-repeat;
    padding-top: 1px;
}

.about {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    background-color: azure;
    border-style: solid;
    border-color: aquamarine;
    
    opacity: .7;
    margin-top: 200px;
    padding-top: 12px;
    padding-bottom: 10px;
    animation-name: mainboxx;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mainbox {
    from {
        background-color: azure;
    }
    to {
        background-color: aquamarine;
    }
}

.links {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.links ul {
    font-family: 'Architects Daughter', cursive;
    opacity: .7;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-size: 18px;
}

.links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 38px;
}


/* Change the link color on hover */

.links li a:hover {
    background-color: aquamarine;
    color: white;
}

.name {
    
    font-family: 'Baloo Bhai', cursive;
    margin-left: 30px;
}

#fname {
    margin-right: 10px;
    margin-top: -5px;
    font-size: 7em;
}

#lname {
    font-size: 5.5em;
    margin-top: -50px;
}

#hello {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: -13px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 5px;
    border-bottom-style: dashed;
    border-bottom-width: 3px;
    border-bottom-color: azure;
}

#hello {
   
    border-bottom-color: aquamarine;
}

.links {
    background-color: aquamarine;
}

.about{
    background-color: aquamarine;
}

.links tc {
    padding: 5px;
}



@media only screen and (max-width: 500px) {
    .firstpage {
        background-size: 110% 130%;
    }
    .about {
        padding-left: 15px;
        margin-top: 150px;
        position: absolute;
        margin-bottom: 300px;
        margin-top: -35px;
        float: left;
    }
    #fname {
        margin-right: 10px;
        margin-top: -5px;
        font-size: 75px;
        font-family: 'Baloo Bhai', cursive;
    }
    #lname {
        font-size: 70px;
        font-family: 'Baloo Bhai', cursive;
        margin-top: -35px;
    }
    .body {
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }
}